/* base styles */
*{
    margin: 0;
    font-family: "Roboto";
    color: black;
    text-decoration: none;
}


/* not found */
.not-found{
  margin-top: 80px;
}
.not-found p{
  font-size: 30px;
}
#not-found-link{
  color: #f1356d;
  text-decoration: underline;
  font-size: 18px;
}

/* create signup / login form */
.create{
  max-width: 70%;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  margin-top: 100px;
  border-radius: 10px;
}

.create label{
  text-align: left;
  display: block;
}
.create-header{
  margin-top: 50px;
  font-size: 35px;
  color: black;
  margin-bottom: 30px;
}

.create input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid rgb(206, 204, 204);
  box-sizing: border-box;
  display: block;
  text-align: left;
  border-radius: 5px;
}
.create button{
  color: black;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.1s linear;
}

.signup-login p{
  text-align: center;
}
/* create signup / login form */



